body{
    margin: 0;
    padding: 0;
}

img{position: absolute;
     width: 100%;
    height: auto;
    z-index: 9999;
    animation: img 4s forwards 10.8s;
    opacity: 0

}
#animationIntro{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
   
}
#fondNoir{
    position: absolute;
     z-index: 9998;
     background-color:black;
     width: 100%;
    height: 100%;
    min-height: 30%;
    animation: fondNoir 2s linear forwards 10.7s;
}
#fondNoir2{
    position: absolute;
     background-color:black;
     width: 100%;
    height: 28%;
    min-height: 28%;
    top:72%;
    animation: fondNoir 0.1s linear forwards 11.92s;
    vertical-align: middle;
    text-align: center;
    color: green;
    z-index: 9998;

}

.cercle-blanc{
    z-index: 10000;
    position: absolute;
    background:transparent;
    height: 9%;
    width: 5%;
    border-radius: 100%; 
    top:50%;
    left:2%;
    
}

#c1{background: white;
    animation: cerclePrincipal 10s linear forwards 1s;
}
#c2{
    left:14%;
    animation: cercleMove 1s linear 2s
}
#c3{
    left:26%;
    animation: cercleMove 1s linear 3s
}
#c4{
    left:38%;
    animation: cercleMove 1s linear 4s
}
#c5{
    left:50%;
    animation: cercleMove 1s linear 5s
}
#c6{
    left:62%;
    animation: cercleMove 1s linear 6s
}
#c7{
    left:74%;
    animation: cercleMove 1s linear 7s
}



@keyframes cercleMove{
   0% { background: white; }
   99%{background: white}
    100% { background: transparent; }
}

@keyframes cerclePrincipal{
    0%{left:2%;
    }
    70% {
        
        left:86%;
        top:50%;
        transform: scale(1);
        background: white;
    }
    99%{background: white;}
    100%{transform: scale(7);
        left:48%;
        top:30%;
        background:transparent;
            
    }
}


@keyframes fondNoir {
    0%{background: black;
        opacity: 1
        
        }
    100%{background: transparent;
        opacity: 0
        } 
}

@keyframes img {
    0%{opacity: 0}
    25%{opacity: 1;
        transform:scale(1);}
    99%{transform: scale(7);
        opacity: 1}
    100%{opacity: 0}
}
