body {
   margin: 0;
    padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(./IMG/1a31becc-f6d7-4d10-a057-590ccb9e88b5.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.buttonSousMenu {
  color: black !important;
}

.buttonSousMenu:active {
  background-color: black !important;
  color: white !important;
  border-radius: 5px !important;
}

.buttonSousMenu :hover {
  background-color: black !important;
  color: white !important;
}

a:focus {
  background-color: black !important;
  color: white !important;
  border-radius: 5px !important;
}

a {
  background-color: white !important;
  color: black !important;
}

#soushome {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}
 #sousmenu1 {
   background-color: rgba(255, 255, 255, 0.6);
   border: 3px solid white;
   border-radius: 20px;
   margin-top: 20px;
   text-align: center;
 }

 #sousmenu2 {
   background-color: rgba(255, 255, 255, 0.6);
   border: 3px solid white;
   border-radius: 20px;
   margin-top: 20px;
   text-align: center;
 }
#sousmenu3 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}
#sousmenu4 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}
#menu1 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}
#menu2 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}
#menu3 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}
#menu4 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

.article{
  background-color:white;
}
