body {
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-image: url(./IMG/1a31becc-f6d7-4d10-a057-590ccb9e88b5.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow:hidden;
  cursor: url("IMG/804741413d7fe0e515b19a7ffc7b3027.png"), pointer;
}

.buttonSousMenu {
  color: black !important;
}

.buttonSousMenu:active {
  background-color: black !important;
  color: white !important;
  border-radius: 5px !important;
}

.buttonSousMenu :hover {
  background-color: black !important;
  color: white !important;
}

a:focus {
  background-color: black !important;
  color: white !important;
  border-radius: 5px !important;
}

a {
  background-color: white !important;
  color: black !important;
}

.ban007 {
  width: 125px;
  height: 50px;
  margin-top: 5px;
}
.daniel {
  width: 30%;
  height: 30%;
  border-radius: 50px
}

#soushome {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

#sousmenu1 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

#sousmenu2 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

#sousmenu3 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

#sousmenu4 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

#menu1 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

.well p  {

  text-align: justify !important;
}

#menu2 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

#menu3 {
  background-color: rgba(255, 255, 255, 0.6)!important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  margin-right: -25px !important;
}
.navbar-inverse {
  color: white!important;
}

#contact {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

footer {
  background-color: rgba(255, 255, 255, 1);
}

.article{
    background-color: rgba(255, 255, 255, 1);
    /* width: auto !important;
    height: auto !important; */
    display: block;
    align-items: center;

}
.container #goodies {
  display: block;
  margin: auto;
}
