body {
    font: 400 15px/1.8 , sans-serif;
    background-color: white;
}
#allez {
  color:red; font-size: 20px; font-weight: bolder;
}
#cine {
  color:white; font-size: 20px; font-weight: bolder;
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background: transparent;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: white !important;
}
.navbar-nav li a:hover {
    color: white !important;
background-color: red !important;
}
.navbar-nav li.active a {
    color: white !important;
    background-color: red !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color:white !important;
}
.jumbotron {
  background-color: black !important;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    height: ;
    width: 100%; /* Set width to 100% */
    margin: auto;
    border-radius: 20px;
}
.carousel-caption h3 {
    color:;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}




/*toogle sur les film et serie (boutton plus/moins*/
#moviesCacher, #seriesCacher{
	display: none
}

/*img movies*/

.tabMovies>.movieAffiche>img{
	width: 150px;
	height: 200px;
}




/*css reseaux sociaux */

#blockSocial>div>i{
	float:right;
	margin-right: 10px;
	line-height: 20px;
}

#twitter,#facebook,#dribbble,#google{
	margin-left: -100px;
	width: 120px;
	height: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 20px;
	border-top-right-radius:15px;
	border-bottom-right-radius: 15px;
	position: fixed;
	transition: 0.5s;
	color: white;
}

#twitter{
	background-color: #1DA1F2;
	top:150px;
	left:10px;
}
#facebook{
	background-color: #4867AA;
	top:180px;
	left:10px;
}
#dribbble{
	background-color: #E74D89;
	top:210px;
	left:10px;
}
#google{
	background-color: #DD4D40;
	top:240px;
	left:10px;
}

#twitter:hover{
	margin-left: -20px;
}

#facebook:hover{
	margin-left: -20px
}

#dribbble:hover{
	margin-left: -20px
}

#google:hover{
	margin-left: -20px
}

