body {
  background-color: white;
  padding-bottom: 5px;
  color: #5a5a5a;
  height: 100%;
}

/*Brand*/

#red {
  color: red;
  font-size: 40px;
  font-weight: bolder;
}

#white {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

@media only screen and (max-width:1069px) {
  #red {
    font-size: 25px;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
  #white {
    font-size: 25px;
  }
}

h2 {
  border-left: 3px solid red;
  height: 35px;
  margin-left: 50px;
  margin-bottom: 50px!important;
  font-size: : 100px!important;
}

/*nav*/

navbar-wrapper {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2 !important;
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background: transparent;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 2px;
  opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
  color: white !important;
}

.navbar-nav li a:hover {
  color: white !important;
  background-color: red !important;
}

.navbar-nav li.active a {
  color: white !important;
  background-color: red !important;
}

button.navbar-toggle {
  border-color: white !important;
}

.icon-bar {
  background-color: white !important;
}

.open .dropdown-toggle {
  color: white !important;
  background-color: white !important;
}

.dropdown-menu li a {
  color: #000 !important;
}

.dropdown-menu li a:hover {
  background-color: !important;
}

/*Bar de recherche*/

#form {
  background-color: rgba(0, 0, 0, 0.4)!important;
  border-top-left-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  border: none !important;
  width: 100px;
}

input.form-control::placeholder {
  color: white;
}

input.form-control {
  color: white;
}

button#glyphicon {
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px;
  background-color: rgba(0, 0, 0, 0.4)!important;
  border: none !important;
  height: 100%;
}

.glyphicon {
  color: white;
}

@media only screen and (max-width:766px) {
  #myNavbar {
    background-color: black;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

/*carousel 1*/

.jumbotron {
  background-color: transparent !important;
  margin-top: -6% !important;
  z-index: 2 !important;
  height: auto
}

@media only screen and (max-width:766px) {
  .jumbotron {
    display: block;
    margin: auto;
    height: auto;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.item img {
  height: 800px;
  filter: brightness(50%);
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

ol.carousel-indicators li {
  float: center;
  width: 30px;
  height: 5px;
  margin: 0;
  margin-left: 10px;
  border: 2;
  background: transparent;
  background-color: white;
  border: none;
}

ol.carousel-indicators li.active {
  float: center;
  width: 30px;
  height: 5px;
  margin: 0;
  margin-left: 10px;
  border: 2;
  background-color: red;
  transition: all 0.25s ease;
}

@media only screen and (max-width:1069px) {
  ol.carousel-indicators li {
    width: 20px;
    height: 2px;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
  ol.carousel-indicators li.active {
    width: 20px;
    height: 2px;
  }
}

/* LOGIN */

.login-register {
  display: block;
  border: 5px solid red;
  background-color: red;
  margin-top: -80px;
  height: 50px;
}

@media only screen and (max-width:766px) {
  .login-register {
    margin-top: -60px;
    height: 50px;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

#buttonLogin {
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 0px !important;
  margin-left: 25px;
}

#buttonRegister {
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 0px !important;
  vertical-align: middle!important;
}

@media only screen and (max-width:766px) {
  #buttonLogin {
    margin-left: 10px;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

span#tel {
  font-size: 10px!important;
  font-weight: lighter !important;
  color: white!important;
  display: inline-block;
  margin-top: -10px!important;
  vertical-align: text-top!important;
  margin-left: 20px;
}

/*Carousel 2*/

#imagesSlide {
  display: block;
  margin-top: 25px;
  width: 1200px;
  height: 350px;
  border: 2px solid lightgrey;
}

#article17 {
  overflow: hidden;
}

#article17 img {
  width: 200px !important;
  height: 250px !important;
  padding-left: 25px;
  margin-top: 50px;

}

#article17 ul {
  display: table;
  width: 2800px;
  padding-left: 25%;
  -webkit-animation: art17slide 20s ease 0s infinite;
  -moz-animation: art17slide 20s ease 0s infinite;
  -ms-animation: art17slide 20s ease 0s infinite;
  -o-animation: art17slide 20s ease 0s infinite;
  animation: art17slide 20s ease 0s infinite;
}

#article17 ul li {
  display: table-cell;
  width: 300px;
  height: 300px;
  list-style: none;
}

@-webkit-keyframes art17slide {
  from, 11%, to {
    margin-left: -300px;
  }
  15%, 26% {
    margin-left: -600px;
  }
  30%, 41% {
    margin-left: -900px;
  }
  45%, 56% {
    margin-left: -1200px;
  }
  65%, 76% {
    margin-left: -1500px;
  }
  80%, 91% {
    margin-left: -1800px;
  }
  99.99% {
    margin-left: -2100px;
  }
}

@-moz-keyframes art17slide {
  from, 11%, to {
    margin-left: -300px;
  }
  15%, 26% {
    margin-left: -600px;
  }
  30%, 41% {
    margin-left: -900px;
  }
  45%, 56% {
    margin-left: -1200px;
  }
  65%, 76% {
    margin-left: -1500px;
  }
  80%, 91% {
    margin-left: -1800px;
  }
  99.99% {
    margin-left: -2100px;
  }
}

@-ms-keyframes art17slide {
  from, 11%, to {
    margin-left: -300px;
  }
  15%, 26% {
    margin-left: -600px;
  }
  30%, 41% {
    margin-left: -900px;
  }
  45%, 56% {
    margin-left: -1200px;
  }
  65%, 76% {
    margin-left: -1500px;
  }
  80%, 91% {
    margin-left: -1800px;
  }
  99.99% {
    margin-left: -2100px;
  }
}

@-o-keyframes art17slide {
  from, 11%, to {
    margin-left: -300px;
  }
  15%, 26% {
    margin-left: -600px;
  }
  30%, 41% {
    margin-left: -900px;
  }
  45%, 56% {
    margin-left: -1200px;
  }
  65%, 76% {
    margin-left: -1500px;
  }
  80%, 91% {
    margin-left: -1800px;
  }
  99.99% {
    margin-left: -2100px;
  }
}

@keyframes art17slide {
  from, 11%, to {
    margin-left: -300px;
  }
  15%, 26% {
    margin-left: -600px;
  }
  30%, 41% {
    margin-left: -900px;
  }
  45%, 56% {
    margin-left: -1200px;
  }
  65%, 76% {
    margin-left: -1500px;
  }
  80%, 91% {
    margin-left: -1800px;
  }
  99.99% {
    margin-left: -2100px;
  }
}

/*Boutton Films*/

/* .btn-inverse: hover, .btn par défaut: focus, .btn par défaut: actif, .btn-inverse.active, .Open .dropdown-toggle.btn-default {
  color: # 333;
  background-color: #ebebeb !important;
  border-color: #adadad;
}

div#movies .btn-group .active {
  background-color: red !important;
} */

.filtre {
  display: block;
  margin: auto!important;
}

button {
  background-color: #ebebeb;
  border-color: #adadad;
  color: # 333;
  border-radius: none;
  border: 5px;
  margin-bottom: 25px !important;
}

button:active {
  color: white !important;
  background-color: red;
}

button#all {
  margin-right: 5px;
}

button#comedie {
  margin-right: 5px;
}

button#thriller {
  margin-right: 5px;
}

button#scifi {
  margin-right: 5px;
}

button#dramatique {
  margin-right: 5px;
}

@media only screen and (max-width:766px) {
  button#all {
    margin-right: 3px;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
  button#comedie {
    margin-right: 3px;
  }
  button#thriller {
    margin-right: 3px;
  }
  button#scifi {
    margin-right: 3px;
  }
  button#dramatique {
    margin-right: 3px;
  }
}

button.plusMoins {
  color: white;
  background-color: red !important;
  display: block;
  margin: auto!important;
  margin-top: 25px !important;
  margin-bottom: 50px !important;
  width: 150px;
  height: 50px;
  border: 5px;
}

/*toogle sur les film et serie (boutton plus/moins*/

#moviesCacher, #seriesCacher {
  display: none;
}

/*img movies*/

#moviesJS {
  margin-right: -50px;
  align-items: center !important;
}

.movieAffiche>img {
  width: 150px;
  height: 200px;
}

.seriesAffiche>img {
  width: 150px;
  height: 200px;
}

.movieAfficheShop>img {
  width: 150px;
  height: 200px;
}

@media (max-width: 150px) {
  .movieAfficheShop {
    width: auto;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

/*Boutton Series*/

div#series .btn-group .active {
  background-color: red !important;
}

button#allSeries {
  margin-right: 5px;
}

button#comedieSeries {
  margin-right: 5px;
}

button#action {
  margin-right: 5px;
}

/*css reseaux sociaux */

#blockSocial>div>i {
  float: right;
  margin-right: 10px;
  line-height: 20px;
}

#twitter, #facebook, #dribbble, #google {
  margin-left: -100px;
  width: 120px;
  height: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
  transition: 0.5s;
  color: white;
}

#twitter {
  background-color: #1DA1F2;
  top: 150px;
  left: 10px;
}

#facebook {
  background-color: #4867AA;
  top: 180px;
  left: 10px;
}

#dribbble {
  background-color: #E74D89;
  top: 210px;
  left: 10px;
}

#google {
  background-color: #DD4D40;
  top: 240px;
  left: 10px;
}

#twitter:hover {
  margin-left: -20px;
}

#facebook:hover {
  margin-left: -20px
}

#dribbble:hover {
  margin-left: -20px
}

#google:hover {
  margin-left: -20px
}

#imgFilm {
  float: right;
  margin-top: 7px;
}

#imgFilm>img {
  height: 300px;
}

/*shop*/

#shop>i {
  float: right;
  margin-right: 20px;
}


/*footer*/


footer{
	background-color:#0D0D0D;
	color: white;
	margin:auto;
	
}


.titreFooter{
	font-size: 20px;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.contenuFooter{
	color:grey;
}

.tagGenre{
	display: inline-block;
	padding: 3px;
	padding-right:5px;
	padding-left:5px; 
	margin: 1px;
	margin-bottom: 5px;
	background-color: #313232;
	color:white;
}
#afficheFilmRandom{
	margin:auto;
}
#afficheFilmRandom>img{
	height: 100px;
	width: 70px;
}

#subscribeEmail,#subscribeButton{
	height: 40px;
	margin-bottom: 30px;
	
}
#bouttonFormulaire{
	background-color: red; 
	color: white;
}
#subscribeButton{
	margin-left: 5px;
	background-color: red; 
	color: white;
}
#subscribeEmail{
	border-radius: 0px;
	color: grey;

}

#subscribeButton:hover,#bouttonFormulaire:hover{
	background-color: grey;
}

#subscribe>p{
	text-align: center;
	color:red;
	font-size: 40px;
	margin-top: 10px;

}

#ligneFooter{
	border-top: 1px grey solid;
	border-bottom: : 1px grey solid;
	height: 20px;
}
#iconeFooter{
	margin: auto;
}
#iconeFooter>i{
	margin: 5px;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	padding-top: 10px;
	box-shadow: 5px 10px;
	margin-bottom: 40px;
}

#connect{
	text-align: center;
}